<form method="post" action="{{ path('ciudades_delete', {'id': ciudade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ciudade.id) }}">
    <div id="div2"><button class="btn btn-primary">Eliminar</button></div>
</form>
