{% extends 'base.html.twig' %}

{% block title %}Edit Ciudades{% endblock %}

{% block body %}
    <h1 align="center">Editar Ciudades</h1>
    <br>
    
        <div id="div1">{{ include('ciudades/_form.html.twig', {'button_label': 'Actualizar'}) }}
            <div id="centrarBotones">
                    <div id="div3"><a href="{{ path('ciudades_index') }}"class="btn btn-primary">Volver a la lista</a></div>
                    <br>
                    <div id="div4">{{ include('ciudades/_delete_form.html.twig') }}</div>
            </div>
        </div>
{% endblock %}
