<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ path('index') }}">Home</a>
	<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavId">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('user_index') }}">Usuarios
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('aficiones_index') }}">Aficiones</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('ciudades_index') }}">Ciudades</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insertar datos</a>
				<div class="dropdown-menu" aria-labelledby="dropdownId">
					<a class="dropdown-item" href="{{ path('user_new') }}">Crear usuario</a>
					<a class="dropdown-item" href="{{ path('aficiones_new') }}">Crear aficion</a>
					<a class="dropdown-item" href="{{ path('ciudades_new') }}">Crear ciudad</a>
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<div class="cols-sm-8 navbar-dark">
				{% if app.user %}
					<span class="text-light mr-2">Usuario actual:
						<a href="{{ path('user_show', {'id': app.user.id}) }}">{{ app.user.username }}</a></span>
					<button class="btn btn-outline-light my-2 my-sm-0" type="submit" formaction="{{ path('app_logout') }}">Log out</button>
				{% else %}
					<button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit" formaction="{{ path('app_login') }}">Log in</button>
				{% endif %}
			</div>
		</form>
	</div>
</nav>
