html {
    min-height: 100%;
    position: relative;
}

body {
    background: rgba(147, 206, 222, 1);
    border: 0;
    margin: 0;
    margin-bottom: 50px;
}

h1 {
    margin-left: 1%;
}

h1#h1index {
    margin: 40% 50% 0% 50%;
}
#bienvenida{
    margin-top: 250px;
}
#bv {
    text-align: center;
}

#logIn {
    margin-left: 360px;
}
#centrarBotones {
    margin-left: 0%;
    padding-top: 2%;
}

#div1 {
    float: left;
    margin-left: 800px;
    width: 1000px;
}

#div1_2 {
    margin-left: 650px;
    border: 2px solid black;
    border-radius: 3%;
    width: 30%;
    text-align: center;
    padding: 5px;
    background: linear-gradient(70deg, lightblue, white);
}

.btn {
    margin-top: 3px;
}

table {
    max-width: 98%;
    margin-left: 1%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#edUsu {
    margin-left: 20px;
}

#btnUsu {
    margin: 5px 0px 0px 5px;
}

.logo {
    max-height: 100px;
}


/* index.html.twig de aficiones */

.enlaceBoton,
.enlaceCrear {
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    padding: 10px;
    background-color: #50505a;
    color: white;
    border-radius: 5px;
    margin-left: 0%;
    margin-bottom: 20%;
}

.enlaceBoton:hover,
.enlaceCrear:hover {
    background-color: white;
    color: #50505a;
}

.enlaceCrear {
    margin-left: 1%;
}