{% extends 'base.html.twig' %}

{% block title %}Edit Aficiones{% endblock %}

{% block body %}
    <h1 align="center">Editar Aficiones</h1>
    <br>
    <div id="div1">{{ include('aficiones/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <div id="centrarBotones">
            <div id="div3"><a href="{{ path('aficiones_index') }}" class="btn btn-primary">Volver a la lista</a></div>

            <div>{{ include('aficiones/_delete_form.html.twig') }}</div>
        </div>
    </div>

     
{% endblock %}
