{% extends 'base.html.twig' %}

{% block title %}Aficiones index{% endblock %}

{% block body %}
    <h1>Lista de Aficiones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for aficione in aficiones %}
            <tr>
                <td>{{ aficione.getNomAficion() }}</td>
                <td>
                    <a href="{{ path('aficiones_show', {'id': aficione.id}) }}" class="btn btn-primary">mostrar</a>
                    <a href="{{ path('aficiones_edit', {'id': aficione.id}) }}" class="btn btn-primary">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay registros!!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('aficiones_new') }}" class="btn btn-primary">Crear nueva</a>
{% endblock %}
